<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ws_protocol = "{{ ws_protocol }}"
        const server = "{{ server_run }}"
    </script>
	<script defer src="static/script.js"></script>
	<title>Chat</title>
</head>

<body>
	<div class="flex flex-col items-center">
		<h1>Пользовательский чат</h1>
		<h2>Представьтесь: <input type="text" id="name"><button id='btn'>Приоединиться</button></h2>
		<form action="" id='form'>
			<input type="text" id="messageText" autocomplete="off">
			<button>Отправить</button>
		</form>
		<ul id='messages'></ul>
	</div>
</body>

</html>